$primaryColor: rgb(235, 13, 13);
$secondaryColor:#DBD0E8;
$fontColor: #333;
$menuColor:#c55e22;

$defaultFont:'Karla', sans-serif;

$lightWeight:300;
$normalWeight:500;
$boldWeight:700;

$gutter:16pxz