$primaryColor: rgb(17, 128, 193);
$secondaryColor:#d19b7a;
$fontColor: #3f8462;
$menuColor:#e47437f0;

$defaultFont:'Karla', sans-serif;

$lightWeight:300;
$normalWeight:500;
$boldWeight:700;

$gutter:16pxz
